/* TODO: consider creating <Button> and <GradientText> components */
@font-face {
  font-family: 'LeagueSpartan';
  src: url('../assets/font/League-Spartan/LeagueSpartan-Bold.otf') format('opentype'); /* Asegúrate de tener el formato correcto y la ruta adecuada */
  font-display: swap;
}
@font-face {
  font-family: 'Questrial';
  src: url('../assets/font/Questrial/Questrial-Regular.ttf') format('truetype'); /* Asegúrate de tener el formato correcto y la ruta adecuada */
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../assets/font/Montserrat/static/Montserrat-Medium.ttf') format('truetype'); /* Asegúrate de tener el formato correcto y la ruta adecuada */
  /*src: url('../assets/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype'); /* Asegúrate de tener el formato correcto y la ruta adecuada */
  font-display: swap;
}


#logo{
  font-family: 'LeagueSpartan', sans-serif;
  font-size: 65px;
}
@media (min-width: 768px) {
  #logo {
      font-size: 85px; /* md */
  }
}
#events{
  font-family: 'Questrial', sans-serif;
}


*, p, h2, h3, #slot {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.pasos{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}
a,
.btn {
  @apply transition-colors duration-200;
  @apply hover:text-primary;
/*   @apply focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-transparent; */
}

.gradient-text {
  @apply bg-clip-text text-transparent;
  @apply bg-gradient-to-tl from-gray-300 via-yellow-400 to-yellow-600;
}

.text-wrap-balance {
  text-wrap: balance;
}

.text-wrap-pretty {
  text-wrap: pretty;
}


.portfolio-eventos .filter-btns li.active{
	color:#facc15;
}
.portfolio-eventos .filter-btns li:hover{
  color:#aa8903;
  scale: 1.1;
}

.portfolio-eventos .filter-btns li{
	position:relative;
	font-weight:500;
	cursor:pointer;
  font-size:24px;
	color:#c3c3c3;
	margin-right:45px;
	display:inline-block;
  text-transform: uppercase;
  -moz-transition:all 500ms ease;
  -webkit-transition:all 500ms ease;
  -ms-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}


/*** 

====================================================================
  Team One
====================================================================

***/

.team-one{
  position: relative;
  padding: 110px 0px 100px;
}

.team-one.style-two{
  background-color: #f9f9f9;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.team-one.style-two .team-block_one .inner-box{
  background-color: #ffffff;
}

.team-one .owl-nav{
  position: absolute;
  right: 0px;
  top: -120px;
  padding: 10px 20px;
  border-radius: 50px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.20);
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.team-one .owl-prev{
  position: relative;
}

.team-one .owl-nav .owl-prev,
.team-one .owl-nav .owl-next{
  position: relative;
  margin: 0px 10px;
  font-size: 20px;
  line-height: 1em !important;
  transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}

.team-one .owl-nav .owl-prev:hover,
.team-one .owl-nav .owl-next:hover{
  color: rgba(0, 0, 0, 0.80);
}

.team-block_one{
  position: relative;
  margin-bottom: 30px;
}

.team-block_one .inner-box{
  position: relative;
  border-radius: 10px;
  text-align: center;
  padding: 30px 15px 20px;
  border: 1px solid #000000;
  background-color: #f9f9f9;
}

.team-block_one .content{
  position: relative;
}

.team-block_one .content h3{
  position: relative;
  font-size: 38px;
  margin-bottom: 5px;
  font-family: 'Lunchtype_Medium';
}

.team-block_one .content h3 a{
  position: relative;
  color: #000000;
}

.team-block_one .content .designation{
  position: relative;
  color: #000000;
  font-size: 18px;
  font-family: 'Lunchtype_Medium';
}

.team-block_one .image{
  position: relative;
  border-radius: 10px;
  margin-top: 25px;
  border: 1px solid #000000;
  background: url(../images/background/team-patttern.png);
}

.team-block_one .social-links{
  position: relative;
  padding-top: 25px;
  padding-bottom: 5px;
}

.team-block_one .social-links li{
  position: relative;
  margin: 0px 5px;
  width: 34px;
  display: inline-block;
}

.team-block_one .social-links li a{
  position: relative;
}

.team-one .owl-nav{
  position: relative;
  top: 0px;
}