---
import "@/styles/index.css";

import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import Testimonio from "@/components/testimonios.astro";
import Footer from "@/components/footer.astro";

import { getI18N } from "@/i18n";
let { url } = Astro
const pathname = url.pathname

let currentLocale = "es"
if (pathname.startsWith("/ca/")) {
  currentLocale = "ca";
} else if (pathname.startsWith("/en/")) {
  currentLocale = "en";
}
const i18n = getI18N({ currentLocale });
const CASOS_EXITO = i18n.CASOS_EXITO;

---
<Layout>
  <Header/>
  <Hero title={CASOS_EXITO.TITLE} description={CASOS_EXITO.DESCRIPTION}/>
  <div class="space-y-24 px-12 bg-product pt-12 pb-24 bg-cover">
    <Testimonio></Testimonio>
  </div>
  <Footer/>
</Layout>