---
import "@/styles/index.css";

import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import HeroContact from "@/components/hero-contact.astro";
import ContactForm from "@/components/contact-form.tsx";
import FooterContact from "@/components/footer-contact.astro";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const FORM = i18n.FORM;
---
<Layout>
  <Header/>
  <HeroContact title={FORM.TITLE_HERO} description={FORM.CONTENT_HERO}/>
    <div class="px-8 py-12 bg-product bg-cover space-y-12">
        <ContactForm language="es" contactFormData={FORM} client:only />
    </div>
    <FooterContact/>
</Layout>