---
import "@/styles/index.css";

import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import EventosFiltros from "@/components/eventos-filtros.astro";
import Footer from "@/components/footer.astro";

import { getI18N } from "@/i18n";
let { url } = Astro
const pathname = url.pathname

let currentLocale = "es"
if (pathname.startsWith("/ca/")) {
  currentLocale = "ca";
} else if (pathname.startsWith("/en/")) {
  currentLocale = "en";
}
const i18n = getI18N({ currentLocale });
const EVENTOS = i18n.EVENTOS;
---
<Layout>
  <Header/>
  <Hero title={EVENTOS.TITLE} description={EVENTOS.DESCRIPTION}/>
  <div class="px-8 pt-12 md:pt-0 pb-12 bg-product bg-cover min-h-[800px]">
    <EventosFiltros></EventosFiltros>
  </div>
  <Footer/>
</Layout>