---
import "@/styles/index.css";

import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import Features from "@/components/features.astro";
import TimeLine from "@/components/TimeLine/time-line.astro";
import Footer from "@/components/footer.astro";

import { getI18N } from "@/i18n";
let { url } = Astro
const pathname = url.pathname

let currentLocale = "es"
if (pathname.startsWith("/ca/")) {
  currentLocale = "ca";
} else if (pathname.startsWith("/en/")) {
  currentLocale = "en";
}
const i18n = getI18N({ currentLocale });
const SERVICIO = i18n.SERVICIO;
---
<Layout>
  <Header/>
  <Hero title={SERVICIO.TITLE} description={SERVICIO.DESCRIPTION}/>
    <div class="px-8 py-12 bg-product bg-cover space-y-12">
        <Features />
        <TimeLine />
    </div>
    <Footer />
</Layout>