---
import "../styles/index.css";

import Layout from "~/layouts/layout.astro";
import Header from "~/components/header.astro";
import Hero from "~/components/hero.astro";
import Testimonio from "~/components/testimonios.astro";
import InfoNosotros from "~/components/info-nosotros.astro";
import Features from "~/components/features.astro";
---

<Layout>
  <Header/>
  <Hero title="Casos de éxito" description="Emprendedores con los que hemos trabajado"/>
  <div class="space-y-24 px-12 bg-product pt-12 pb-24 bg-cover">
    <Testimonio></Testimonio>
  </div>
</Layout>