---
import "@/styles/index.css";

import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";

import EventosFiltros from "@/components/eventos-filtros.astro";
---

<Layout>
  <Header/>
  <Hero title="Eventos" description="Empresas con las que hemos trabajado"/>
  <div class="px-8 pt-12 md:pt-0 pb-12 bg-product bg-cover">
    <EventosFiltros></EventosFiltros>
  </div>
</Layout>