---
import Features from "~/components/features.astro";
import HeaderHomepage from "~/components/header-homepage.astro";
import Testimonios from "~/components/testimonios.astro";
import VideoPresentacion from "~/components/video-presentacion.astro";
import NuestrosEventos from "~/components/nuestros-eventos.astro";
import Splash from "~/components/splash.astro";
import "~/styles/index.css";
import TimeLine from "~/components/TimeLine/time-line.astro";

import Layout from "../layouts/layout.astro";
---

<Layout>
  <HeaderHomepage />
  <Splash />
  <div class="space-y-24 px-8 pt-12 md:pt-0 pb-12 bg-product bg-cover">
    <VideoPresentacion />
    <Testimonios />
    <NuestrosEventos />
    <Features />
    <TimeLine />


  </div>
</Layout>