---
import "../styles/index.css";

import Layout from "~/layouts/layout.astro";
import Header from "~/components/header.astro";
import Hero from "~/components/hero.astro";
import Team from "~/components/team.astro";
import MeetTeam from "~/components/meet-the-team.astro";
import InfoNosotros from "~/components/info-nosotros.astro";
import Features from "~/components/features.astro";
---

<Layout>
  <Header/>
  <Hero title="Sobre nosotros" description="Información sobre el equipo"/>
  <div class="space-y-24 px-8 pt-12 md:pt-0 pb-12 bg-product bg-cover">
    <Team />
    <InfoNosotros />
    <Features/>
  </div>
</Layout>