---
import "../styles/index.css";

import Layout from "@/layouts/layout.astro";
import Header from "@/components/header.astro";
import Hero from "@/components/hero.astro";
import Team from "@/components/team.astro";
import InfoNosotros from "@/components/info-nosotros.astro";
import Footer from "@/components/footer.astro";
import VideoSobreNosotros from "@/components/video-sobre-nosotros.astro";
---

<Layout>
  <Header/>
  <Hero title="¿Por qué nosotros?" description="Información sobre el equipo"/>
  <div class="bg-gradient-to-b from-[#0c0c0c] via-black to-[#0c0c0c]">
    <VideoSobreNosotros/> 
    <Team />
  </div>
   
    <div class="space-y-24 px-8 pt-12 md:pt-0 pb-12 bg-product bg-cover">
      <InfoNosotros />
    </div>
    <Footer></Footer>
</Layout>