---
import "@/styles/index.css";
import { Image } from "astro:assets";
import type { FooterLink } from "@/types";

import Instagram from "./icons/instagram.astro";
import Facebook from "./icons/face-book.astro";
import X from "./icons/x.astro";
import Linkedin from "./icons/linkedin.astro";

import Logo from "@/assets/logo.png";

const links: Array<FooterLink> = [
  {
    url: "https://astro.build/",
    description: "Astro's official website",
    icon: "mdi:home",
  },
  {
    url: "https://astro.build/chat",
    description: "Astro on Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/astrodotbuild",
    description: "Astro on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="py-3 px-10 pie bg-zinc-900">
  <div class="w-full md:grid md:grid-cols-12 flex gap-5 flex-col items-center mx-auto">
    <div class="md:col-span-4 order-1 w-fit">
      <a href="/">
        <Image
          src={Logo}
          alt="Logo"
          class="w-16 md:w-28 hover:scale-110 duration-300"
          width="100"
          height="100"
        />
      </a>
    </div>
    <div class="md:col-span-4 mx-auto text-center order-3 md:order-2">
      <ul class="flex justify-center gap-8 p-3">
        <li>
          <a
              href=`https://www.instagram.com/feelusion`
              target="_blank"
              class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300"
          >
              <Instagram />
          </a>
          </li>
          <li>
          <a
              href="#"
              target="_blank"
              class="text-[#39569c] hover:text-gray-900 dark:hover:text-white"
          >
            <Facebook />
          </a>
          </li>
          <li>
          <a
              href="#"
              target="_blank"
              class="text-gray-300 hover:text-white"
          >
            <X />
          </a>
          </li>
          <li>
          <a
              href="#"
              class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300"
          >
          <Linkedin />
          </a>
          </li>
      </ul>
      <p class="text-xs text-gray-300">
        © 2024{" "}
        <a
          href="#"
          class="hover:text-gray-500"
        >
          Feelusion™
        </a>
        . Todos los derechos reservados.
      </p>
    </div>
    <ul class="md:col-span-4 gap-2 md:gap-10 text-sm text-center order-2 md:order-3 md:text-left flex md:flex-row flex-col justify-self-end">
      <li>
        <a href="/politica-privacidad">Política de Privacidad</a>
      </li>
      <li>
        <a
          href="/#contact"
        >
          Contacto
        </a>
      </li>
    </ul>
  </div>
</footer>
