---

---
<section class="team-one style-two">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Meet thee Team</h2>
        </div>
        <div class="team-carousel owl-carousel owl-theme">

            <!-- Team Block One -->
            <div class="team-block_one">
                <div class="inner-box">
                    <div class="content">
                        <h3><a href="#">John Smith</a></h3>
                        <div class="designation">Architect</div>
                    </div>
                    <div class="image">
                        <img src="images/resource/team-7.png" alt="" />
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><i class="icon"><img src="images/resource/linkedin.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/twitter.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/facebook.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/instagram.svg" alt="" title=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-block_one">
                <div class="inner-box">
                    <div class="content">
                        <h3><a href="#">Bob Nathan</a></h3>
                        <div class="designation">Manager</div>
                    </div>
                    <div class="image">
                        <img src="images/resource/team-8.png" alt="" />
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><i class="icon"><img src="images/resource/linkedin.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/twitter.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/facebook.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/instagram.svg" alt="" title=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-block_one">
                <div class="inner-box">
                    <div class="content">
                        <h3><a href="#">Billy Bolt</a></h3>
                        <div class="designation">Support</div>
                    </div>
                    <div class="image">
                        <img src="images/resource/team-9.png" alt="" />
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><i class="icon"><img src="images/resource/linkedin.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/twitter.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/facebook.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/instagram.svg" alt="" title=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-block_one">
                <div class="inner-box">
                    <div class="content">
                        <h3><a href="#">John Smith</a></h3>
                        <div class="designation">Architect</div>
                    </div>
                    <div class="image">
                        <img src="images/resource/team-7.png" alt="" />
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><i class="icon"><img src="images/resource/linkedin.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/twitter.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/facebook.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/instagram.svg" alt="" title=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-block_one">
                <div class="inner-box">
                    <div class="content">
                        <h3><a href="#">Bob Nathan</a></h3>
                        <div class="designation">Manager</div>
                    </div>
                    <div class="image">
                        <img src="images/resource/team-8.png" alt="" />
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><i class="icon"><img src="images/resource/linkedin.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/twitter.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/facebook.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/instagram.svg" alt="" title=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Team Block One -->
            <div class="team-block_one">
                <div class="inner-box">
                    <div class="content">
                        <h3><a href="#">Billy Bolt</a></h3>
                        <div class="designation">Support</div>
                    </div>
                    <div class="image">
                        <img src="images/resource/team-9.png" alt="" />
                    </div>
                    <div class="social-links">
                        <ul class="clearfix">
                            <li><a href="#"><i class="icon"><img src="images/resource/linkedin.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/twitter.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/facebook.svg" alt="" title=""></i></a></li>
                            <li><a href="#"><i class="icon"><img src="images/resource/instagram.svg" alt="" title=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>