---
import ContentSection from "@/components/content-section.astro";
import VideoFeelusion from "@/assets/eventos-feelusion/Feelusion_FINAL.mp4";

import { getI18N } from "@/i18n";
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const VIDEO_PRESENTACION = i18n.VIDEO_PRESENTACION;

---
<ContentSection
  title={VIDEO_PRESENTACION.TITLE}
  id="video-presentacion"
  css="md:pt-16"
>
  <Fragment slot="lead" set:html={VIDEO_PRESENTACION.DESCRIPTION_1}></Fragment>
  <div class="mt-8 w-full text-center">
    <video
      id="video-feelusion"
      style="z-index: 10;"
      class="md:h-full w-full"
      controls
      autoplay
      loop
      muted
    >
      <source src={VideoFeelusion} type="video/mp4" />
    </video>
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://docs.google.com/forms/d/e/1FAIpQLSfjYNuh1_sX66Bujs5HlaoJSuSMJ6kYkM2xcQqYA91WuP8u6A/viewform"
    >
      <button
        class="mt-10 uppercase rounded-full w-72 h-16 font-bold before:ease relative overflow-hidden text-white shadow-[1px_3px_5px_0px_rgba(255,255,255,0.5)] hover:shadow-[0px_0px_10px_2px_rgba(255,255,255,0.5)] transition-all before:absolute before:right-0 before:top-0 before:h-16 before:w-4 before:translate-x-12 before:rotate-6 before:bg-white before:opacity-10 before:duration-700 hover:shadow-yellow-500 hover:before:-translate-x-72 bg-gradient-to-br from-gray-300 via-yellow-400 via-yellow-600 to-yellow-800 hover:scale-110"
        >{VIDEO_PRESENTACION.BUTTON}</button
      >
    </a>
  </div>
</ContentSection>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    const videoFeelusion = document.getElementById("video-feelusion");
    videoFeelusion.addEventListener(
      "mouseover",
      function () {
        this.play();
      },
      false
    );

    let options = {
      root: null, // usando el viewport como contenedor
      rootMargin: "0px",
      threshold: 0, // ajusta este valor según tus necesidades
    };

    let observer = new IntersectionObserver(handleIntersection, options);

    observer.observe(videoFeelusion);

    function handleIntersection(entries, observer) {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          entry.target.pause();
        }
      });
    }
  });
</script>
